@tailwind base;
@tailwind components;
@tailwind utilities;

.logoFont {
  font-family: cursive;
}

.ql-editor {
  border: 2px solid black !important;
  background-color: rgb(244, 243, 243);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.ql-toolbar {
  border: 1px solid !important;
}
